################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/B24 Ex02 Michal 206990723 Yehonatan 211398375/v17
/.vs
